table, td {
  border-collapse: collapse;
  border: 6px solid black;
  width: 200px;
  width: absolute;
  height: 100px;
  padding: 15px;
  font-weight: bold;
  font-size: 48px;
  background-color: lightblue;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  table-layout: fixed;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 72px;
}

a {
  font-weight: bold;
  font-size: 24px;
  width: 30%;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  display: inline-block; /* centers righting with padding*/
  text-decoration: none; /* removes underline*/
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10px;
}

a:hover{
  background: red;
  color: black;
  border-radius: 20%;